<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html(title='Dish categories')}"></head>
<nav th:insert="fragments/navbar.html"></nav>


<body class="d-flex flex-column min-vh-100">

<div class="text-center col-4 container flex-grow-1">
    <h1>All Dish Categories</h1>

    <table class="table table-striped table-hover caption-top table-bordered border-dark">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="dc : ${dishCategories}">
            <tr>
                <td th:text="${dc.name}"></td>

                <td>
                    <form class="d-inline" th:action="@{/dish_categories/del}" method="post">
                        <input type="hidden" name="id" th:value="${dc.id}"/>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                    <a class="btn btn-primary" th:href="@{/dish_categories/edit/{id}(id=${dc.id})}">Edit</a>
                </td>
            </tr>
        </th:block>
    </table>

    <h1 class="text-center mt-5 mb-5">Add new dish category:</h1>
    <div class="col-8 container flex-grow-1">
        <form action="#" th:action="@{/dish_categories/save}" th:object="${category}" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Category name *:</label>
                <input type="text" th:field="*{name}" class="form-control" id="name"
                       placeholder="starter, salad, soup, desert, main">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous">
</script>
</body>

<div th:replace="fragments/footer.html"></div>
</html>
