<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Dish Category</title>
</head>
<body>
<h1>Edit Dish Category</h1>

<form action="#" th:action="@{/dish_categories/update}" th:object="${dishCategory}" method="post">
    <input type="hidden" th:field="*{id}"/> <!-- Hidden input field for category id -->

    <div class="mb-3">
        <label for="name" class="form-label">Category name *:</label>
        <input type="text" th:field="*{name}" class="form-control" id="name"
               placeholder="Enter category name">
        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
</form>
</body>
</html>
