<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head.html(title='Task')}"></head>
<nav th:insert="fragments/navbar.html"></nav>


<body class="d-flex flex-column min-vh-100">

<div class="col-6 container flex-grow-1">

    <h2 class="text-center">12: Форми и валидиране - преговор</h2>
    <p>
        Да се направи нов проект, който реализира управление на продукти и рецепти.
        <br>
        За продуктите пазим следната информация: име, категория (плод / зеленчук /
        подправка). <br> Добавете възможност за обновяване (update) и изтриване на
        съществуващите продукти. <br>
        За ястията пазим следната информация: име, категория (салата / супа /
        основно / десерт), описание, продукти (в едно ястие очевидно има много
        продукти). <br>
        Ползвайте валидации само в бекенда чрез Spring Boot.<br>
        Използвайте компоненти и респонсив подреждане (Grid) от <a href="https://getbootstrap.com/">Bootstrap</a>.
    </p>
    <h2 class="text-center">13: Unit Tests in Spring Boot</h2>
    <p>
        Към проекта за управление на продукти и рецепти добавете метод в Service клас,
        който изчислява рейтинг на рецептата според продуктите и категорията.
        <br>
        Всяка рецепта има основна оценка 3.
        <br>
        - ако категорията е супа: за всеки зеленчук добавя 1 към оценката, а за всеки
        плод - вади 2 от оценката
        <br>
        - ако е салата: за за всеки плод или зеленчук добавя 1 към оценката
        <br>
        - ако е десерт: за всеки плод добавя 1 към оценката, за всеки зеленчук - вади 2 от оценката.
        <br>
        Ако има продукт шоколад добавя 3 към оценката- за основно - измислете ваша формула
        Може да има отрицателни оценки.
        <br>
        Добавете Unit tests за всички методи в Service класоветe: използвайте JUnit5 и
        Mockito
    </p>
    <h2 class="text-center">14: Integration Tests in Spring Boot</h2>
    <p>
        1. Към проекта за управление на продукти и рецепти добавете следните
        интеграционни тестове:
        <br>
        ▪ които проверяват всички GET методи, където се показва списък с налични
        продукти и ястия.
        <br>

        ▪ които проверяват за коректно зареждане на формите за добавяне на
        продукти и ястия (GET request).
        <br>

        2. Добавете Jacoco плъгин и генерирайте репот с test coverage
        <br>

        3. Прочетете и се запознайте със следните ресурси:
        <br>

        ▪ <a href="https://medium.com/geekculture/write-an-integration-test-not-an-unit-test-a19572f880a8"> Мнение относно важността на интеграционните тестове </a>
        <br>

        ▪ <a href="https://www.baeldung.com/integration-testing-in-spring"> Примери за тестове с MockMvc </a>
    </p>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>


<div th:replace="fragments/footer.html"></div>
</html>