<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{templates/navbar.html :: head(title='Index')}">

</head>
<body class="d-flex flex-column min-vh-100">

<nav th:insert="templates/navbar.html :: navigation"></nav>

<h1 class="text-center mt-5 mb-5">Добави нов хотел:</h1>
<div class="col-4 container flex-grow-1">
    <form action="#" th:action="@{/hotels/save}" th:object="${hotel}" method="post">

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Име на хотела:</label>
            <input type="text" th:field="*{name}" class="form-control" id="exampleFormControlInput1">
        </div>

        <div>
            <label for="resort">Изберете курорт</label>
            <select id="resort" name="resort">
                <option th:each="r : ${resorts}" th:value="${r.id}" th:text="${r.name}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="roomCount" class="form-label">Брой стаи:</label>
            <input type="number" th:field="*{roomCount}" class="form-control" id="roomCount">
        </div>
        <div class="mb-3">
            <label for="numberOfStars" class="form-label">Брой звезди:</label>
            <input type="number" th:field="*{numberOfStars}" class="form-control" id="numberOfStars">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" th:field="*{hasSpa}" class="form-check-input" id="hasSpa">
            <label for="hasSpa" class="form-check-label">Спа:</label>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/hotels" class="btn btn-secondary">Go Back</a>
        </div>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

<div th:replace="templates/footer.html"></div>
</html>