<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body class="d-flex flex-column min-vh-100">

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="football_logo.png" width=80></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/mesi">Lionel Messi</a></li>
                <li class="nav-item"><a class="nav-link" href="/national-teams?team=bg">Bulgaria</a></li>
                <li class="nav-item"><a class="nav-link" href="/national-teams?team=fr">France</a></li>
                <li class="nav-item"><a class="nav-link" href="/national-teams?team=uk">United Kingdom</a></li>

            </ul>
        </div>
    </div>
</nav>
<!-- END NAVBAR -->

<div class="container flex-grow-1">
    <h1>Home Page</h1>
    <div class="col-md-6">
        <p>
            Да се създаде Spring Boot проект с Dependencies Spring Web и Thymeleaf.
            а) Да се направи страница, която представя кратка информация за Лионел Меси: да
            има картинки, поне 2 секции с различна информация и линкове към външни сайтове
            localhost:8080/mesi
            б) Да се направи страница, която представя кратка информация за национален
            футболен отбор на дадена държава: треньор, стадион, класиране на последното
            световно първенство и т.н. Като страницата поддържа поне 2 различни държави,
            които се показват в зависимост от параметър.
            localhost:8080/national-teams?team=argentina
            localhost:8080/national-teams?team=england
        </p>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

<footer class="bg-body-tertiary text-center">
    <div class="container p-5"></div>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a class="text-body" href="https://bfunion.bg/?lang=bg">Football info</a>
    </div>
</footer>
</body>
</html>