<!DOCTYPE html>
<html lang="en">
<style>
    .custom-border {
        border: 1px solid #000; /* Specify your desired border color */
        padding: 10px; /* Optional: Add padding for better appearance */
        display: inline-block; /* Optional: Ensure that the span behaves like a block element */
    }

</style>
<head>
    <meta charset="UTF-8">
    <title>Mesi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="football_logo.png" width=80></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="/mesi">Lionel Messi</a></li>
                <li class="nav-item"><a class="nav-link" href="/national-teams?team=bg">Bulgaria</a></li>
                <li class="nav-item"><a class="nav-link" href="/national-teams?team=fr">France</a></li>
                <li class="nav-item"><a class="nav-link" href="/national-teams?team=uk">United Kingdom</a></li>

            </ul>
        </div>
    </div>
</nav>
<!-- END NAVBAR -->

<div class=container>
    <br><br>
    <h2>Lionel Andrés Messi</h2>
    <hr>
    <div class="row">
        <div class="col-md-8">
            <p>
                <a href="https://en.wikipedia.org/wiki/Lionel_Messi">Lionel Andrés Messi</a> (Spanish pronunciation:
                [ljoˈnel anˈdɾes ˈmesi] ⓘ; born 24 June 1987), also known as
                <b> Leo Messi </b>, is an Argentine professional footballer who plays as a forward for and captains both
                Major League Soccer club Inter Miami and the Argentina national team. Widely regarded as one of the
                greatest players
                of all time, Messi has won a record eight Ballon d'Or awards, a record six European Golden Shoes, and
                was named
                the world's best player for a record eight times by <a
                    href="https://en.wikipedia.org/wiki/FIFA">FIFA</a>. Until leaving the club in 2021, he had
                spent
                his
                entire professional career with Barcelona, where he won a club-record 34 trophies, including ten La Liga
                titles,
                seven Copa del Rey titles, and the <abbr title="Union of European Football Associations">UEFA</abbr>
                Champions League four times. With his country, he won
                the
                <a href="https://en.wikipedia.org/wiki/2021_Copa_Am%C3%A9rica"> 2021
                    Copa América</a> and the <a href="https://en.wikipedia.org/wiki/2022_FIFA_World_Cup"> 2022 FIFA
                World
                Cup</a>. A prolific goalscorer and creative playmaker, Messi holds the
                records
                for most goals in La Liga (474), most hat-tricks in La Liga (36) and the <abbr
                    title="Union of European Football Associations">UEFA</abbr> Champions League (eight),
                and
                most
                assists in La Liga (192) and the Copa América (17). He also has the most international goals by a South
                American
                male (106). Messi has scored over 800 senior career goals for club and country, and has the most goals
                by a
                player for a single club (672).
                <br><br>
                Messi relocated to Spain from <a href="https://www.google.com/maps/place/Argentina" title="View in Google Maps">Argentina</a> aged
                13 to
                join <a href="https://www.google.com/maps/place/Barcelona" title="View in Google Maps"> Barcelona</a>, for whom he made his
                competitive
                debut aged 17 in October 2004. He established himself as an integral player for the club within the next
                three years, and in his first uninterrupted season in 2008–09 he helped Barcelona achieve the first
                treble in Spanish football; that year, aged 22, Messi won his first Ballon d'Or. Three successful
                seasons followed, with Messi winning four consecutive Ballons d'Or, making him the first player to win
                the award four times. During the 2011–12 season, he set the La Liga and European records for most goals
                scored in a single season, while establishing himself as Barcelona's all-time top scorer. The following
                two seasons, Messi finished second for the Ballon d'Or behind Cristiano Ronaldo (his perceived career
                rival), before regaining his best form during the 2014–15 campaign, becoming the all-time top scorer in
                La Liga and leading Barcelona to a historic second treble, after which he was awarded a fifth Ballon
                d'Or in 2015. Messi assumed captaincy of Barcelona in 2018, and won a record sixth Ballon d'Or in 2019.
                Out of contract, he signed for French club Paris Saint-Germain in August 2021, spending two seasons at
                the club and winning Ligue 1 twice. Messi joined American club Inter Miami in July 2023, winning the
                Leagues Cup in August of that year.
                <br><br><br>
                <img src="Maradona_messi_creacion_adan.jpg" class="col-md-12">
            </p>
        </div>

        <div class="col-md-4">
            <p>
                <img src="Lionel-Messi-Argentina-2022-FIFA-World-Cup_(cropped).jpg" class="rounded" alt="Cinque Terre">
                <br>
                Messi with Argentina at the <a href="https://en.wikipedia.org/wiki/2022_FIFA_World_Cup"> 2022 FIFA
                World
                Cup</a>
                <br>
            </p>
            <div class="container">
                <table class="table  table-borderless table-sm caption-top">
                    <caption style="font-weight: bold;" class="bg-dark text-white text-center">Personal information
                    </caption>
                    <tbody>
                    <tr>
                        <td><span class="fw-medium">Full name</span></td>
                        <td>Lionel Andrés Messi</td>
                    </tr>

                    <tr>
                        <td><span class="fw-medium">Date of birth</span></td>
                        <td>24 June 1987</td>
                    </tr>

                    <tr>
                        <td><span class="fw-medium">Place of birth</span></td>
                        <td>Rosario, Argentina</td>
                    </tr>

                    <tr>
                        <td><span class="fw-medium">Height</span></td>
                        <td>1.70 m (5 ft 7 in)</td>
                    </tr>

                    <tr>
                        <td><span class="fw-medium">Position(s)</span></td>
                        <td>Forward, attacking midfielder</td>
                    </tr>
                    </tbody>
                </table>

                <table class="table  table-borderless table-sm caption-top">
                    <tbody>
                    <caption style="font-weight: bold;" class="bg-dark text-white text-center">Team information
                    </caption>
                    <tr>
                        <td><span class="fw-medium">Current team</span></td>
                        <td>Inter Miami</td>
                    </tr>
                    <tr>
                        <td><span class="fw-medium">Number</span></td>
                        <td>10</td>
                    </tr>
                    </tbody>
                </table>

                <table class="table  table-borderless table-sm caption-top">
                    <tbody>
                    <caption style="font-weight: bold;" class="bg-dark text-white text-center">Youth career
                    </caption>
                    <tr>
                        <td>1992–1995</td>
                        <td>Grandoli</td>
                    </tr>
                    <tr>
                        <td>1995–2000</td>
                        <td>Newell's Old Boys</td>
                    </tr>
                    <tr>
                        <td>2000–2003</td>
                        <td>Barcelona</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<br>

<div class=container>
    <h2>Early life</h2>
    <hr class="my-4">

    <p>
        Messi was born on 24 June 1987 in <a
            href="https://www.google.com/maps/place/Rosario,+Santa+Fe+Province,+Argentina" title="View in Google Maps">Rosario, Santa Fe</a>, the
        third of four children of Jorge Messi, a steel
        factory manager, and his wife <a href="celia-maria-cuccittini--1683796804.jpg" title="Celia Cuccittini">Celia Cuccittini</a>, who worked
        in a magnet manufacturing workshop. On his father's
        side, he is of Italian and Spanish descent, the great-grandson of immigrants from the north-central Adriatic
        Marche region of Italy, and on his mother's side, he has primarily Italian ancestry. Growing up in a
        tight-knit, football-loving family, "Leo" developed a passion for the sport from an early age, playing
        constantly with his older brothers, Rodrigo and Matías, and his cousins, Maximiliano and Emanuel Biancucchi,
        both of whom became professional footballers. At the age of four he joined local club Grandoli, where he was
        coached by his father, though his earliest influence as a player came from his maternal grandmother, Celia, who
        accompanied him to training and matches. He was greatly affected by her death, shortly before his eleventh
        birthday; since then, as a devout Roman Catholic, he has celebrated his goals by looking up and pointing to the
        sky in tribute to his grandmother.
    </p>


    <div class="row">
        <div class="col-md-4">
        <span class="custom-border">
            <p>
                "When you saw him you would think: this kid can't play ball. He's a dwarf, he's too fragile, too small.
                But immediately you'd realise that he was born different, that he was a phenomenon and that he was going
                to be something impressive."

                – Newell's Old Boys youth coach Adrián Coria shares his first impression of the 12-year-old Messi.
            </p>
        </span>
        </div>
        <div class="col-md-8">
            <p>
                A lifelong supporter of Newell's Old Boys, Messi joined the Rosario club when he was six years old.
                During the six years he played for Newell's, he scored almost 500 goals as a member of <span class="fw-medium">"The Machine
                of '87"</span>, the near-unbeatable youth side named for the year of their birth, and regularly entertained
                crowds by performing ball tricks during half-time of the first team's home games. However,
                his future as a professional player was threatened when, aged 10, he was diagnosed with a growth
                hormone deficiency. As his father's health insurance covered only two years of growth hormone
                treatment, which cost at least $1,000 per month, Newell's agreed to contribute, but later reneged on
                their promise. He was scouted by Buenos Aires club River Plate, whose playmaker, Pablo Aimar,
                whom he idolised. It was speculated that he failed to be signed into River Plate due to his
                ill health, however in a 2019 interview, Messi revealed that the club had offered to pay for his
                medical treatment despite ultimately rejecting him. His goalscoring idol growing up was <a
                    href="https://en.wikipedia.org/wiki/Cristiano_Ronaldo">Ronaldo</a>,
                with Messi calling him <span class="fw-medium">"the best forward I've ever seen"</span>.
            </p>
        </div>


    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
<footer class="bg-body-tertiary text-center">
    <div class="container p-5"></div>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2024 Copyright:
        <a class="text-body" href="https://bfunion.bg/?lang=bg">Football info</a>
    </div>
</footer>
</html>