<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
<h1> Task 1</h1>
<section>

    <p>
        Задача 1
        а) Да се направи Spring Boot проект, който има страница /numbers, която получава
        като параметър цяло число N и отпечатва всички числа от 1 до N, които се делят на
        три. Изнесете логиката в отделен клас - NumbersService. За добавяне на
        NumbersService към контролерът използвайте конструкторът на NumbersController.
        б) Да се добави страница /sum-numbers, която получава параметър N и отпечатва
        сума на числата от 1 до N. Изнесете логиката в отделен клас - SumNumbersService.
        в) Да се добави страница /words, която получава 2 параметъра: дума и число N. И
        отпечатва N на брой пъти думата.
    </p>
</section>
<br><br><br>
<section>
    <h2>PLAYGROUND:</h2>
    <a href="numbers?n=35">А) Номера 1 до 35, които се делят на 3</a>
    <br>
    <a href="sum-numbers?n=10">Б)Сбор на числата от 1 до 10</a>
    <br>
    <a href="http://localhost:8080/words?word=never%20gonna%20give%20you%20up%20/&n=3">В) Magic</a>
</section>
</body>
</html>