<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Numbers</title>
</head>
<body>
<section>
    <h1>Numbers divided by 3</h1>
    <table border="1">
        <tr>
            <th>Number that divides by 3</th>
            <th>Result after division</th>
        </tr>
        <tr th:each="number: ${all_numbers}">
            <td th:text="${number}"></td>
            <td th:text="${numberService.getDividerOfNumberThatDividesBy3(number)}"></td>
        </tr>
    </table>
</section>
</body>
</html>
