<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h2>Да се създаде Spring Boot проект с Dependencies Spring
    Web и Thymeleaf.
    а) Да се направи страница, която отпечатва числата от
    1 до N, където N се въвежда от потребителя
    localhost:8080/print-numbers?n=20
    б) Да се направи страница, която отпечатва само
    четните числа от N до M
    localhost:8080/print-numbers?n=3&m=16
</h2>
<h2>
    Try it for yourself:
    <br>
    <a href="/print-numbers?n=0">Example 1</a>
    <a href="/print-numbers?n=10">Example 2</a>
    <br>
    <a href="/print-numbers?n=1&m=20">Example 3</a>
    <a href="/print-numbers?n=20&m=10">Example 4</a>
</h2>
</body>
</html>